<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @book_review.user_id %>
</p>

<p>
  <strong>Book:</strong>
  <%= @book_review.book_id %>
</p>

<p>
  <strong>Review:</strong>
  <%= @book_review.review %>
</p>

<h2>Review form</h2>
<%= form_with(model: @book_review, local: true) do |form| %>
    <div class="field">
        <%= form.text_area :review %>
        <%= form.hidden_field :book_id, :value => @book.id %>
    </div>
    <div class="actions">
        <%= form.submit %>
    </div>
<% end %>
<%= link_to 'Edit', edit_book_review_path(@book_review) %> |
<%= link_to 'Back', book_reviews_path %>
